JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
POSTGRES_USER=mindy
POSTGRES_PASSWORD=mindy
POSTGRES_DB=mindy_task
DB_INTERNALUSERNAME=postgresql+psycopg://mindy:mindy@db:5432/mindy_task
DB_EXTERNALUSERNAME=postgresql+psycopg://mindy:mindy@localhost:5432/mindy_task
